
/*
=========
Global Styles
=========
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(12, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}

/*
=========
Nav
=========
*/
nav{
    display: grid;
    height: 3rem;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    
}

.nav-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-center h1{
    margin-bottom: 0;
}

/*
=========
Main
=========
*/

main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
  }
  .container {
    text-align: center;
  }

  .container span {
    background: #222;
    color: white;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 2.5rem;
  }

  .btn-btn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: transparent;
    color: #222;
    letter-spacing: 0.1rem;
    display: inline-block;
    font-weight: 700;
    transition: all 0.3s linear;;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
  .btn-btn:hover {
    color: white;
    background: #222;
  }